body.columns main > .section > div.commerce-account-header-wrapper {
    margin-bottom: 0;
}

.commerce-account-header-navigation {
    margin-top: calc(var(--spacing-small) * -1);
    margin-bottom: var(--spacing-medium);
    
}

.commerce-account-header-navigation > ul,
.commerce-account-header-navigation > ol {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
    display: flex;
    gap: var(--spacing-medium);
    overflow: auto;
}

.commerce-account-header-navigation li {
    white-space: nowrap;
}

.commerce-account-header-navigation--current {
    font-weight: 600;
}